* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.ideas {
    width: 100vw;
    height: 25vh;
    padding: 2rem;
    background-color: rgb(31, 31, 31);
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

&__list {
    height: 25vh;
    padding-left: 8rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__item {
        color: rgb(248, 248, 248);
        font-weight: 600;
    }
}

}